# Imports

In [1]:
import os
import glob
import pandas as pd
from natsort import natsorted

# Part 1

In [ ]:
root_dir = os.getcwd()
run = 'rome_static_medium'
sched='sched0'
train='tr0'
exp='exp1'
bs='bs1'
bsdir = run + os.path.sep + sched + os.path.sep + train + os.path.sep + exp + os.path.sep + bs
sched_dir = run + os.path.sep + sched

In [ ]:
bsdir

In [ ]:
os.listdir(bsdir)

In [ ]:
all_files = glob.glob(os.path.join(bsdir, "ue*.csv"))

In [ ]:
all_files

In [ ]:
df_append = pd.DataFrame()
for file in all_files:
            df_temp = pd.read_csv(file)
            df_temp['ue_id'] = file.split('.')[0].split('\\')[-1]
            df_append = pd.concat([df_append, df_temp])

In [ ]:
df_append.shape

In [ ]:
df_append.columns

In [ ]:
df_append['time'].describe()

In [ ]:
run_dir = run

In [ ]:
run_dir

In [ ]:
os.listdir(run_dir)

# Part2

In [2]:
root_dir = os.getcwd()
run = 'rome_static_medium'
os.chdir(run)
sched_list = natsorted(os.listdir())
os.chdir(sched_list[1])
train_list = natsorted(os.listdir())
os.chdir(train_list[1])
exp_list = natsorted(os.listdir())
os.chdir(exp_list[1])
bs_list = natsorted(os.listdir())
os.chdir(root_dir)

In [6]:
sep = os.path.sep
bs_combo_df = pd.DataFrame()
sched_list = natsorted(glob.glob(os.path.join((run),'sched*')))
for s in sched_list[0:2]:
    tr_list = natsorted(glob.glob(os.path.join((s), 'tr*')))
    for t in tr_list[0:1]:
        exp_list = natsorted(glob.glob(os.path.join((t), 'exp*')))
        for e in exp_list[0:1]:
            bs_list = natsorted(glob.glob(os.path.join((e), 'bs*')))
            for b in bs_list[0:1]:
                file_name = b.split(sep)[-1]
                df_temp = pd.read_csv(b+ os.path.sep + file_name + '.csv')
                sep = os.path.sep
                df_temp['base_station'] = b.split(sep)[-1]
                df_temp['exp'] = e.split(sep)[-1]
                df_temp['training'] = t.split(sep)[-1]
                df_temp['sched'] = s.split(sep)[-1]
                bs_combo_df = pd.concat([bs_combo_df, df_temp])

In [7]:
bs_combo_df

,time,nof_ue,dl_brate,ul_brate,base_station,exp,training,sched
0,1617070465976,0.0,0.0,0.0,bs1,exp1,tr0,sched0
1,1617070466226,0.0,0.0,0.0,bs1,exp1,tr0,sched0
2,1617070466475,0.0,0.0,0.0,bs1,exp1,tr0,sched0
3,1617070466726,0.0,0.0,0.0,bs1,exp1,tr0,sched0
4,1617070466975,0.0,0.0,0.0,bs1,exp1,tr0,sched0
...,...,...,...,...,...,...,...,...
2273,1612884699208,6.0,1586112.0,103456.0,bs1,exp1,tr0,sched1
2274,1612884699458,6.0,1879168.0,34112.0,bs1,exp1,tr0,sched1
2275,1612884699708,6.0,1843872.0,17056.0,bs1,exp1,tr0,sched1
2276,1612884699958,6.0,1631808.0,254144.0,bs1,exp1,tr0,sched1
2277,1612884700208,6.0,1732896.0,NaN,bs1,exp1,tr0,sched1

In [ ]:
bs_combo_df.to_csv('bs_combo_df.csv')

In [ ]:
all_files = glob.glob(os.path.join(bsdir, "ue*.csv"))
#df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df_combo_ue = pd.DataFrame()
#append all files together
for file in all_files:
            df_temp = pd.read_csv(file)
            sep = os.path.sep
            df_temp['ue_id'] = file.split('.')[0].split(sep)[-1]
            df_combo_ue = pd.concat([df_combo_ue, df_temp])